In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv('forecasts.csv')

In [4]:
full_data.columns

Index(['Date', '2019Q2', '2019Q1', '2018Q4', '2018Q3', '2018Q2', '2018Q1',
       '2017Q4', '2017Q3', '2017Q2', '2017Q1', '2016Q4', '2016Q3', '2016Q2',
       '2016Q1', '2015Q4', '2015Q3', '2015Q2', '2015Q1', '2014Q4', '2014Q3',
       '2014Q2', '2014Q1', '2013Q4', '2013Q3', '2013Q2', '2013Q1', '2012Q4',
       '2012Q3', '2012Q2', '2012Q1', '2011Q4', '2011Q3', '2011Q2', '2011Q1',
       '2010Q4', '2010Q3', '2010Q2', '2010Q1', '2009Q4', '2009Q3', '2009Q2',
       '2009Q1', '2008Q4', '2008Q3', '2008Q2', '2008Q1', '2007Q4', '2007Q3',
       '2007Q2', '2007Q1', '2006Q4', '2006Q3', '2006Q2', '2006Q1', '2005Q4',
       '2005Q3', '2005Q2', '2005Q1', '2004Q4', '2004Q3', '2004Q2', '2004Q1',
       '2003Q4', '2003Q3', '2003Q2', '2003Q1', '2002Q4', '2002Q3', '2002Q2',
       '2002Q1', '2001Q4', '2001Q3', '2001Q2'],
      dtype='object')

In [15]:
quarter = '2001Q3'

quarter_slice = full_data[['Date', quarter]].dropna().reset_index(drop=True)
quarter_slice.columns = ['Date', 'Data']

In [16]:
quarter_slice

       Date  Data
0   9/30/02   3.9
1   6/30/02   3.0
2   3/31/02   2.7
3  12/31/01   2.8
4   9/30/01   1.2

In [17]:
quarter_slice.to_csv('quarter_slice.csv', index=False)

In [ ]:
load("http.star", "http")
load("encoding/csv.star", "csv")
load("zipfile.star", "ZipFile")
load("qri.star", "qri")

def download(ctx):
    # perform an HTTP GET request to greenbook data I have saved on github
    res = http.get("https://raw.githubusercontent.com/charleyferrari/greenbook/master/quarter_slice.csv")
    return res.body()

def transform(ds, ctx):
    rawCsvData = ctx.download

    parsedCsv = csv.read_all(rawCsvData, lazy_quotes=True, fields_per_record=-1)

    csvString = csv.write_all(parsedCsv)

    ds.set_body(csvString, raw=True, data_format='csv')