In [1]:
import pandas as pd

In [4]:
full_data = pd.read_csv('forecasts.csv')

In [5]:
full_data.head()

,Date,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,2018Q1,2017Q4,2017Q3,2017Q2,...,2003Q3,2003Q2,2003Q1,2002Q4,2002Q3,2002Q2,2002Q1,2001Q4,2001Q3,2001Q2
0,6/30/20,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3/31/20,2.0,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/31/19,2.2,2.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9/30/19,2.1,2.2,2.4,2.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/30/19,1.9,2.4,2.7,2.7,2.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
quarter = '2001Q2'

quarter_slice = full_data[['Date', quarter]].dropna().reset_index(drop=True)
quarter_slice.columns = ['Date', 'Data']

In [15]:
quarter_slice

       Date  Data
0   6/30/02   3.6
1   3/31/02   3.1
2  12/31/01   2.6
3   9/30/01   2.0
4   6/30/01   1.2

In [16]:
quarter_slice.to_csv('quarter_slice.csv', index=False)

In [ ]:
load("http.star", "http")
load("encoding/csv.star", "csv")
load("zipfile.star", "ZipFile")
load("qri.star", "qri")

def download(ctx):
    # perform an HTTP GET request to greenbook data I have saved on github
    res = http.get("https://raw.githubusercontent.com/charleyferrari/greenbook/master/quarter_slice.csv")
    return res.body()

def transform(ds, ctx):
    rawCsvData = ctx.download

    parsedCsv = csv.read_all(rawCsvData, lazy_quotes=True, fields_per_record=-1)

    csvString = csv.write_all(parsedCsv)

    ds.set_body(csvString, raw=True, data_format='csv')